.navbar-outer {
    border-bottom: 2px solid #eeeeee;
}

.navbar {
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list-item {
    margin: 0rem 1rem;
    /* font-weight: 600; */
    cursor: pointer;
}