* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.c-1 {
  color: #C7493A;
}

.c-2 {
  color: #A33327
}

.c-3 {
  color: #689775
}

.c-4 {
  color: #917164
}

.c-5 {
  color: #AD8174
}

.gray-1 {
  color: #8a8a8a
}

.gray-2 {
  color: rgba(111, 111, 111, 0.2)
}

.bg-1 {
  background-color: #C7493A,
}

.bg-2 {
  background-color: #A33327
}

.bg-3 {
  background-color: #689775
}

.bg-4 {
  background-color: #917164
}

.bg-5 {
  background-color: #AD8174
}

.bg-gray-1 {
  background-color: #8a8a8a
}

.bg-gray-2 {
  background-color: rgba(111, 111, 111, 0.2)
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

.border {
  border: 2px solid black;
}